<%= form_for [:panel, group]  do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="" class="required">Nome</label>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <label for="">Alunos da turma</label>

        <%= f.select :user_ids, students.collect {|a| [a.name, a.id]}, {}, :multiple => true, class: 'select2 form-control' %>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">
          Salvar turma
        </button>
      </div>
    </div>
  </div>
<% end %>
