<div class="page-header">
  <h1 class="page-header__title">Editar turma</h1>

  <div class="page-header__actions">
    <a href="<%= panel_groups_path %>" class="btn btn-light">Cancelar</a>
  </div>
</div>

<%= render partial: 'form', locals: { group: @group, students: @students } %>
