<div class="page-header">
  <h1 class="page-header__title">Simulados</h1>

  <div class="page-header__actions">
    <a href="<%= new_panel_exam_path %>" class="btn btn-primary">Novo simulado</a>
  </div>
</div>

<% @exams.each do |exam| %>
  <div class="card mb-1">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          <%= exam.title %>
        </div>

        <div class="col-auto">
          <a href="<%= edit_panel_exam_path(exam) %>" class="btn btn-link btn-sm">Editar</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
