<div class="page-header">
  <h1 class="page-header__title">Novo simulado</h1>

  <div class="page-header__actions">
    <a href="<%= panel_exams_path %>" class="btn btn-light">Cancelar</a>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="" class="required">Título</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Duração</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-9">
    <h5 class="mb-4">Questões</h5>

    <%= react_component('HelloNote', name: 'John') %>
  </div>
</div>
