//*= require select2

@import "bootstrap";

$colored-color:  #db4d49;

body, html {
  height: 100%;
}

button {
  outline: 0 !important;
}

@mixin box_shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.bg-brand {
  background-color: #1c66ac;
}

.bg-brand--light {
  background-color: #198ac4;
}

.btn-transparent {
  background: transparent;
  color: #333 !important;
  opacity: 0.7;
  transition: all 0.15s;

  &:hover {
    opacity: 0.9;
  }
}

.btn-accent {
  background-color: #00a9ff;
  border: #00a9ff;
  color: #FFF !important;

  &:hover {
    background-color: #029be8;
  }
}

.minh-100 {
  min-height: 100%;
}

.drawer {
  width: 250px;
  min-height: 100%;
  border-right: 1px solid #CCC;
  display: flex;
  flex-direction: column;

  .drawer_header,
  footer {
    padding: 1rem 2rem;
    font-weight: 700;
  }

  footer {
    margin-top: auto;
  }

  a {
    display: block;
    padding: 0.8rem 2rem;
    color: inherit;
  }
}

.exam-top {
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .exam-top__scroll {
    overflow-x: overlay;
    flex-direction: row;
    white-space: nowrap;
  }

  button {
    width: 3.8rem;
    height: 3.8rem;
    font-size: 1.2rem;
    background: none;
    border: 0;

    &.active {
      border-top: 3px solid transparent;
      border-bottom: 3px solid #007bff;
      font-weight: 700;
    }

    &.complete {
      color: #007bff;
    }
  }

  // button {
  //   background: none;
  //   padding: 0;
  //   border: 0;
  //   width: 35px;
  //   height: 35px;
  //   border-radius: 100%;
  //   background: #CCC;
  //   margin-left: 1rem;
  //   text-align: center;
  //   border: 2px solid #007bff;
  //
  //   &:first-child {
  //     margin-left: 0;
  //   }
  // }
}

.card-hover {
  transition: 0.15s ease-in;

  &:hover {
    background-color: #f3f3f3;
  }
}

.square-option {
  display: block;
  width: 30px;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}



.page-header {
  @extend .mb-4;

  display: flex;
  align-items: center;

  .page-header__title {
    @extend .h2;
    font-weight: 300;
    margin: 0;
  }

  .page-header__actions {
    margin-left: auto;
  }
}

.required {
  &::after {
    @extend .text-danger;

    content: ' *';
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.navbar {
  @include box_shadow(1);

  .nav-item {
    @extend .py-2;
    border-bottom: 4px solid transparent;

    &.active {
      border-bottom: 4px solid $colored-color;
    }
  }
}
